@import url("./__line/header__line.css");
@import url("./__logo/header__logo.css");

.header{
  margin: 0 auto;
  max-width: 882px;
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  }

